<launch>
  <!-- Start Gazebo (or assume it's already running) -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Load the robot description from a xacro file -->
  <param name="ball_description" command="$(find xacro)/xacro $(find ball_throwing)/urdf/ball/ball.urdf" />

</launch>
