<!-- ~/robotthrow_ws/src/ball_throw/urdf/ball/model.config -->
<?xml version="1.0"?>
<model>
  <name>ball</name>
  <version>1.0</version>
  <sdf version="1.6">ball.urdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    A simple ball model.
  </description>
</model>
